@import url("a11yreset.css");
@import url("utilitary.css");
@import url("animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stripe-height: 0.2rem;
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}